<div class="container">
	<div class="header">
		<h3>Edit Your Event</h3>
		<a href="/events/index">Cancel</a>
	</div>
	<form class="col-md-4" action="/events/<%=@event.id%>" method="post">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
		<input type="hidden" name="_method" value="patch">
		<fieldset class="form-group">
			<label for="formGroupNameInput">Name</label>
			<input type="text" class="form-control" id="formGroupNameInput" name="name" value="<%= @event.name %>">
		</fieldset>
		<fieldset class="form-group">
			<label for="formGroupLocationInput">Location</label>
			<input type="text" class="form-control" id="formGroupLocationInput" name="city" value="<%= @event.city %>">	
		</fieldset>
		<fieldset class="form-group">
			<select class="form-control" name="state">
				<option selected="selected"><%=@event.state%></option>
				<option>NY</option>
				<option>CA</option>
				<option>WA</option>
			</select>
		</fieldset>
		<fieldset class="form-group">
			<label for="formGroupDateInput">Date</label>
			<input type="date" class="form-control" id="formGroupDateInput" name="date" value="<%= @event.date %>">
		</fieldset>
		<fieldset class="form-group">
			<input type="submit" value="Update Event" class="form-control">
		</fieldset>
	</form>
	
</div>